<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, !'"></p>

<!--<form action="/login" method="post">-->
<!--    <button type="submit">button</button>-->
<!--</form>-->

<!--<form action="/loginVk" method="post">-->
<!--    <button type="submit">button</button>-->
<!--</form>-->

<form action="/login" method="get">
    <button type="submit">button1</button>
</form>
<!--<form action="/login" method="post">-->
<!--    <button type="submit">button2</button>-->
<!--</form>-->
<form action="/group" method="get">
    <button type="submit">button3</button>
</form>
<form action="/user" method="get">
    <button type="submit">button4</button>
</form>
</body>
</html>